.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    padding: 10px;
    overflow-y: hidden;
    direction: rtl;
  
    img {
      width: 100%;
      height: 100%;
        object-fit:cover;
      cursor: pointer;
      display: block;
      transition: transform .3s;
      
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .column{

    height: 150px;
    width: auto;
  
  }
  @media (max-width:850px) {

    .grid{

        grid-template-columns: repeat(6,auto);
        padding: 0px;
    }
    .column{

      height: 100px;
    
    }
    
}